:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}

.logo-blue {
  color: var(--primary-brand-color);
}

.nav-list,
.nav-local ul,
.portfolio-cards ul {
  list-style-type: none;
}

.nav-global {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}

.contacts {
  color: var(--text-color);
  text-decoration: none;
}

.buttons {
  cursor: pointer;
  padding: 8px 16px;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
}

.footer {
  background-color: var(--dark-color);
}

.logo-footer {
  color: var(--light-color);
}

.footer-text {
  color: var(--accent-color);
}
